.Coins-box p, .Coins-box h3, .Coins-box a {
  color: #333;
}

.Coins-box a:hover {
  text-decoration: none;
}

.Coins-box .panel:hover {
  background-color: #999;
}

.Coins-box h3 {
  font-size: 16px;
}
